

#main{
  background-color: #fff;
  width: 700px;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 40px;
  overflow: hidden;
}

#tabs{
  position: relative;
}

span.diana {
  position: fixed;
  display: none;
  }

.diana + a {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #ddd;
  background-color: #eee;
  margin-bottom: -1px;
  border-radius: 8px 8px 0 0;
  margin-right: 10px;
  text-decoration:none;
}

.diana:target + a {
  background-color: #fff;
  border-bottom-color: #fff; 
}

#pnl_1, #pnl_2, #pnl_3{
  position: absolute;
  top: 31px;
  left: 0;
  border: none;
  clear: both;
  overflow-x: auto;
  height: 250px;
}

  #pnl_1 > div, #pnl_2 > div, #pnl_3 > div{
    opacity: 0;
    transition: all 0.1s ease;
    padding: 30px;
  }

#uno:target ~ #pnl_1, #dos:target ~ #pnl_2, #tres:target ~ #pnl_3{
  position: static;
  border: 1px solid #ddd;
}

  #uno:target ~ #pnl_1 > div, #dos:target ~ #pnl_2 > div, #tres:target ~ #pnl_3 > div{
    opacity: 1;
    transition: all 1s ease;
  }